:root {
  --color-primary: #ff8b37;
  --color-primary-dark: #e87928;
  --color-primary-light: #ffac70;
  --color-primary-lighter: #fff3eb;

  --color-secondary: #d0d0d8;
  --color-secondary-dark: #1c1c21;
  --color-secondary-light: #f5f5f7;

  --color-white: #ffffff;

  --color-error: #ec6259;
  --color-error-light: #fdeeed;

  --color-success: #47d867;
  --color-success-light: #e6faea;
}
 